<div class="comment-container">
    <div class="top-box">
        <div class="top-left">
            <span class="comment-title">test title</span>
            <span class="creator">Mark</span>
        </div>
        <div class="top-right">
            <span class="qualification">Excellent</span>
            <span class="score">10</span>
        </div>
    </div>
    <span class="comment-text">text test</span>
    <div class="bottom-box">
        <div class="bottom-left">
            <span><i class="fa-solid fa-plus"></i> great location</span>
            <span><i class="fa-solid fa-plus"></i> Service</span>
            <span><i class="fa-solid fa-plus"></i> Bottle of champagne in the room!</span>
        </div>
        <div class="bottom-right">
            <span>reviwed on</span>
            <span>20 September,2022</span>
        </div>
    </div>

</div>
