<app-nav />
<div class="main-container">
    <div class="left-side">
        <section class="card-section">
            <div class="card-box">
                <div class="card-container">
                    <img src="../../../../../assets/gallery/details-page/main-room.webp" alt="">
                    <div class="card-top">
                        <div class="hotel-title">Hotel Norrebo</div>
                        <div class="hotel-description">3-star hotel located in the heart of Copenhagen</div>
                    </div>
                    <div class="card-dates">
                        <div class="card-date-box">
                            <span class="check-data">check in</span> 
                            <span class="date">Friday, 09 December 2022</span>
                        </div>
                        <div class="card-date-box">
                            <span class="check-data">check out </span>
                            <span class="date">Monday, 12 December 2022</span>
                        </div>
                    </div>
                    <span class="separator"></span>
                    <span class="room-type">Standard double room</span>
                </div>
            </div>
             <div class="right-side">
                <span class="check-circle"><i class="fa-solid fa-check fa-2xl"></i></span>
                <span class="check-message">Your booking is now confirmed!</span>
            </div>
        </section>
        <section class="check-section">
            <span class="date-message">Your trip starts Friday, 09 December 2022</span>
            <div class="check-box">
                <div class="check-final-box">
                    <span class="check-final-data"><i class="fa-solid fa-calendar-check"></i>Check in</span><span class="date">Friday, 09 December 2022</span>
                </div>
                <div class="check-final-box">
                    <span class="check-final-data"><i class="fa-solid fa-calendar-xmark"></i>Check out</span><span class="date">Monday, 12 December 2022</span>
                </div>
            </div>
        </section>
        <span class="separator"></span>
        <section class="info-section">
            <div class="info-box"><span class="info-type">Hotel address</span> <span class="info-message">address information</span></div>
            <div class="info-box"><span class="info-type">Email</span> <span class="info-message">email information</span></div>
            <div class="info-box"><span class="info-type">Telephone</span> <span class="info-message">phone information</span></div>
        </section>
        <span class="separator"></span>
        <section class="price-section">
            <span class="price-title">Total price</span>
            <span class="price-value-box">
                <span class="price-message">$600</span>
                <span class="price-state">paid</span>
            </span>
        </section>
        <span class="separator"></span>
        <div class="buttons-box">
            <button class="btn-reserve">reserve</button>
            <button class="btn-cancel">cancel reservation</button>
        </div>
    </div>
</div>
<app-footer />
