<app-nav />
<div class="main-container">
    <div class="left-side">
        <section class="card-section">
            <div class="card-container">
                <img src="" alt="">
                <div class="card-top">
                    <div class="hotel-title">Hotel Norrebo</div>
                    <div class="hotel-description">3-star hotel located in the heart of Copenhagen</div>
                </div>
                <div class="card-dates">
                    <span class="check-data">check in <span class="date">Friday, 09 December 2022</span></span>
                    <span class="check-data">check out <span class="date">Monday, 12 December 2022</span></span>
                </div>
                <span class="separator"></span>
                <span class="room-type">Standard double room</span>
            </div>
        </section>
        <section class="check-section">
            <span class="date-message">Your trip starts Friday, 09 December 2022</span>
            <div class="check-box">
                <span class="check-final-data"><i class="fa-solid fa-calendar-check"></i> check in <span class="date">Friday, 09 December 2022</span></span>
                <span class="check-final-data"><i class="fa-solid fa-calendar-xmark"></i>check out <span class="date">Monday, 12 December 2022</span></span>
            </div>
        </section>
        <span class="separator"></span>
        <section class="info-section">
            <span class="info-type">Hotel address <span class="info-message">address information</span></span>
            <span class="info-type">Email <span class="info-message">email information</span></span>
            <span class="info-type">Telephone <span class="info-message">phone information</span></span>
        </section>
        <span class="separator"></span>
        <section class="price-section">
            <span class="info-type">Total price
                <span class="info-message">$600</span>
                <span class="price-state">paid</span>
            </span>
        </section>
        <span class="separator"></span>
        <div class="buttons-box">
            <button class="btn-reserve">reserve</button>
            <button class="btn-calcel">calcel reservation</button>
        </div>
    </div>
    <div class="right-side">
        <span class="ckeck-circle"><i class="fa-solid fa-check fa-2xl"></i></span>
        <span class="check-message">Your booking is now confirmed!</span>
    </div>
</div>
<app-footer />
