<div class="login-content" (click)="closeLogin()">
    <div class="login-container" (click)="$event.stopPropagation()">
        <div class="left">
            <div class="login-title">Get exclusive access to <span>Tripster</span></div>
            <div class="login-description">The hotel booking website more famous in Colombia, you will can find the better offers around the country.
            </div>
        </div>
        <div class="right">
            <div class="links-section">
                <span>Don't have an account?</span>
                <button>Create Profile</button>
            </div>
            <div class="form-section">
                <form action="">
                    <div class="form-box">
                        <input type="text" placeholder="Email">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="form-box">
                        <input type="text" placeholder="Password">
                        <i class="fa-solid fa-key"></i>
                    </div>
                    <div class="form-box-btn">
                        <button>Login</button>
                        <span>Forgot password?</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
