<div class="card-container">
    <img src="{{url}}" alt="">
    <span class="card-title">{{title}}</span>
    <div class="card-data">
        <span><i class="fa-solid fa-vector-square"></i> <span>{{extend}}</span></span>
        <span><i class="fa-solid fa-users"></i> <span>{{people}}</span></span>
        <span><i class="fa-solid fa-bed"></i> <span>{{bedStyle}}</span></span>
    </div>
    <span class="card-conditions">{{conditions}}</span>
    <button class="roomcard-btn">Book now for ${{price}}</button>
</div>
