.main-container {
    padding: 30px 0;
    border-top: 1.5px solid #e1e1e1;

    .section-title {
        font-size: 17px;
        font-weight: 600;
        color: rgb(18, 18, 18);
    }

    .main-section {
            padding: 0 50px;
        i {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .gallery-box {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 15px;

            img {
               border-radius: 15px;
               height: 100%;
               width: 100%; 
            }

            .gallery-left {
                height: 315px;
            }

            .gallery-right {
                height: 315px;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2, 47.7%);
                grid-gap: 15px;
                
            }
        }

        .info-box {
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .info-left {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .hotel-name {
                    font-size: 21px;
                    font-weight: 700;
                    color: rgb(14, 14, 14);
                }

                .hotel-location {
                    font-size: 12px;
                    color: rgb(37, 37, 37);
                    font-weight: 400;
                }
            }

            .info-right {
             display: flex;
             gap:10px;

                .left-box {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    align-items: flex-end;

                    .qualification {
                        font-size: 13px;
                        color: rgb(34, 151, 34);
                        font-weight: bold;
                    }

                    .views {
                        font-size: 11px;
                        color: rgb(167, 167, 167);;
                    }
                }

                .right-box {

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 26px;
                        width: 50px;
                        font-weight: 500;
                        border-radius: 25px;
                        background-color: #d8fcd2;
                        color: #00b200;
                        font-size: 12px;
                    }
    
                }

            }

        }
    }

    .overview-section {
        padding: 0 50px;
        
        .menu-box{
            border-bottom: 1.5px solid #e1e1e1;
            ul {
                padding: 5px 15px;
                display: flex;
                list-style: none;
                gap: 60px;
                align-items: center;
                color: #868686;

               li{
                    font-size: 13px;
                }
            }
        }
        .properties-box {
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
            height: 200px;

            .properties-left {
                width: 33%;

                .list-box {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0;

                    .list-left, .list-right {

                        ul {
                            list-style: none;
                            display:flex;
                            flex-direction: column;
                            gap: 15px;
                            font-size: 13px;
                            font-weight: 300;
                            
                            li{
                                i{
                                    font-size: 15px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            } .properties-right {
                width: 25%;

                 img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                 }
            }
        }
    }

    .rooms-section {
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #f8f8f8;

    }

    .reviews-section {
        padding: 30px 50px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .reviews-box {
            display: flex;

            .reviews-left {
                width: 30%;
                display: flex;
                flex-direction: column;
                gap:20px;

                span {
                    font-size: 24px;
                    color: rgb(21, 107, 255);
                }
            }

            .reviews-right{
                width: 70%;
            }
        }
    }
}