<app-nav />
<div class="main-container">
    <section class="main-section">
        <i class="fa-solid fa-arrow-left"></i>
        <div class="gallery-box">
            <div class="gallery-left">
                <img src="../../../../../assets/gallery/details-page/main-room.webp" alt="">
            </div>
            <div class="gallery-right">
                <img src="../../../../../assets/gallery/details-page/hotel-1.jpg" alt="">
                <img src="../../../../../assets/gallery/details-page/hotel-2.jfif" alt="">
                <img src="../../../../../assets/gallery/details-page/htel-3.jpg" alt="">
                <img src="../../../../../assets/gallery/details-page/hotel-4.jpg" alt="">
            </div>
        </div>
        <div class="info-box">
            <div class="info-left">
                <span class="hotel-name">Hotel Name</span>
                <span class="hotel-location">Hotel Location</span>
            </div>
            <div class="info-right">
                <div class="left-box">
                    <span class="qualification">Excellent</span>
                    <span class="views">views number</span>
                </div>
                <div class="right-box">
                    <span class="score">9.8</span>
                </div>
            </div>
        </div>
    </section>
    <section class="overview-section">
        <div class="menu-box">
            <ul>
                <li>Overview</li>
                <li>Rooms</li>
                <li>Amenities</li>
                <li>Policies</li>
            </ul>
        </div>
        <div class="properties-box">
            <div class="properties-left">
                <span class="section-title">Property Overview</span>
                <div class="list-box">
                    <div class="list-left">
                        <ul>
                            <li> <i class="fa-solid fa-wifi"></i> Free wifi</li>
                            <li> <i class="fa-solid fa-wind"></i> Air conditioning</li>
                            <li> <i class="fa-solid fa-shower"></i> Private bathroom</li>
                            <li> <i class="fa-solid fa-address-card"></i> Key card access</li>
                        </ul>
                    </div>
                    <div class="list-right">
                        <ul>
                            <li> <i class="fa-solid fa-square-parking"></i> Free parking</li>
                            <li> <i class="fa-solid fa-clock"></i> 24 hour front desk</li>
                        </ul>
                    </div>
                </div>         
            </div>
            <div class="properties-right">
                <img src="../../../../../assets/gallery/details-page/map.png" alt="">
            </div>    
        </div>
    </section>
    <section class="rooms-section">
        <span class="section-title">Rooms</span>
        <div class="roomcard-box">
            <app-roomcard
                [url]="'../../../../assets/gallery/details-page/main-room.webp'"
                [title]="'Double standard room'"
                [extend]="'18 sqm'"
                [people]="'2 people'"
                [bedStyle]="'1 queen bed or two separated bed'"
                [conditions]="'Non-refundable, Breakfast included'"
                [price]="'180'"
            />
        </div>
    </section>
    <section class="reviews-section">
        <span class="section-title">Reviews</span>
        <div class="reviews-box">
            <div class="reviews-left">
                <span>9.6/10</span>
                    <app-progressbar 
                        [barName]="'Cleanliness'"
                        [score]="'7'"
                    />
                    <app-progressbar 
                        [barName]="'Amenities'"
                        [score]="'7'"
                    />
                    <app-progressbar 
                        [barName]="'Location'"
                        [score]="'7'"
                    />
                    <app-progressbar 
                        [barName]="'Comfort'"
                        [score]="'7'"
                    />
                    <app-progressbar 
                        [barName]="'Wifi connection'"
                        [score]="'7'"
                    />
            </div>
            <div class="reviews-right">
                commment component
            </div>
        </div>
    </section>
</div>
<app-footer />