<div class="card-container">
    <div class="card-img">
        <img src="{{url}}" alt="">
        <div class="img-icons">
            <span class="hotel-score">{{score}}</span>
            <span class="like-icon"><i class="fa-solid fa-heart"></i></span>
        </div>
    </div>
    <div class="card-data">
        <p>{{hotelName}}</p>
        <span>{{location}}</span>
    </div>
    <div class="card-price">
        <span>from ${{price}}/night</span>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>
