<div class="nav-container">
    <div class="left">
        <div class="name-container">
            <h3 class="web-name">Tripster</h3>
            <img src="https://static.vecteezy.com/system/resources/previews/003/820/680/non_2x/colombia-flag-nation-free-vector.jpg" class="co-flag" alt="">
        </div>
        <div class="main-menu">
            <ul>
                <li>Properties</li>
                <li>Attractions</li>
                <li>Popular</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <button class="singup-btn">Sing up</button>
        <button class="login-btn">Log in</button>
    </div>
</div>
