<div class="nav-container">
    <div class="left">
        <div class="name-container">
            <h3 class="web-name">Tripster</h3>
            <img src="../../../../assets/gallery/icons/colombia-flag.jpg" class="co-flag" alt="">
        </div>
        <div class="main-menu">
            <ul>
                <li>Properties</li>
                <li>Attractions</li>
                <li>Popular</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <button class="singup-btn">Sing up</button>
        <button class="login-btn" (click)="openLogin()">Log in</button>
    </div>
</div>
<app-login *ngIf="openLoginMenu"  (closeModal)="onCloseModal()"/>

