
<div class="card-container">
    <div class="left">
        <img src="../../../../assets/gallery/shared-page/hotel-card/hotelroom-1.webp" alt="">
        <div class="left-data">
            <div class="left-top-data">
                <span class="hotel-name">Hotel Name</span>
                <span class="hotel-address">Hotel Address</span>
                <span class="hotel-categories">Hotel categoies</span>
            </div>
            <div class="left-bottom-data">
                <span class="room-type">room type</span>
                <span class="bed-type">bed type</span>
                <span class="batroom-number">batroom number</span>
                <div class="categories-box">
                    <span>#hot deal</span>
                    <span>#something</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="right-top-data">
            <div class="left-box">
                <span class="qualification">Excellent</span>
                <span class="views">views number</span>
            </div>
            <div class="right-box">
                <span class="score">9.8</span>
            </div>
        </div>
        <div class="right-bottom-data">
            <span class="price">$180</span>
            <span class="nights-number">2 nights, 2 guests</span>
            <button class="booking-btn">See booking options</button>
        </div>
    </div>
</div>