<footer>
    <div class="left">
        <div class="footer-data">
            <span class="page-title">Tripster</span>
            <span class="footer-description">Your favorite hotel booking experience <br>
                since 1997!
            </span>
        </div>
        <div class="page-copyright">
            JDRR <i class="fa-sharp fa-regular fa-copyright"></i>2023
        </div>
    </div>
    <div class="right">
        <ul>
            <li><strong>Help</strong></li>
            <li>FAQ</li>
            <li>Customer service</li>
            <li>How to guide</li>
            <li>Contact us</li>
        </ul>
    </div>
</footer>