<app-nav></app-nav>
<div class="main-container">
    <aside>
        <section class="search-section">
            <div class="form-section">
                <i class="fa-solid fa-arrow-left"></i>
                <span>Your Search</span>
                <form action="">
                    <div class="form-box">
                        <label for="">Destination</label>
                        <div class="input-box">
                            <input type="text" placeholder="destination">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <div class="form-box">
                        <label for="">Check-in date</label>
                        <div class="input-box">
                            <input type="text" placeholder="date">
                            <i class="fa-solid fa-calendar-check"></i>
                        </div>
                    </div>
                    <div class="form-box">
                        <label for="">Check-out date</label>
                        <div class="input-box">
                            <input type="text" placeholder="date">
                            <i class="fa-solid fa-calendar-xmark"></i>
                        </div>
                    </div>
                    <div class="form-box">
                        <label for="">Guest</label>
                        <div class="input-box">
                            <input type="text" placeholder="guest">
                            <i class="fa-solid fa-user"></i>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button class="search-btn">Search</button>
                    </div>           
                </form>
            </div>
        </section>
        <section class="filters-section">
            <div class="filter-box">
                <span class="filter-title">Popular filters</span>
                <app-checkfilter [text]="'Budget Hotel'"/>
                <app-checkfilter [text]="'Breakfast included'"/>
                <app-checkfilter [text]="'Free airport shuttle'"/>
                <app-checkfilter [text]="'Hostel/Backpaker'"/>
            </div>
            <div class="filter-box">
                <span class="filter-title">Price per night</span>
                <app-checkfilter [text]="'less than 50$'"/>
                <app-checkfilter [text]="'50$ to 100$'"/>
                <app-checkfilter [text]="'100$ to 150$'"/>
                <app-checkfilter [text]="'150$ and more'"/>
            </div>
            <div class="filter-box">
                <span class="filter-title">Guest rating</span>
                <app-checkfilter [text]="'Any'"/>
                <app-checkfilter [text]="'Excellent'"/>
                <app-checkfilter [text]="'Very good'"/>
                <app-checkfilter [text]="'good'"/>
            </div>
            <div class="filter-box-stars">
                <span class="filter-title">Property class</span>
                <div class="filter-stars-box">
                    <span>1 <i class="fa-solid fa-star"></i></span>
                    <span>2 <i class="fa-solid fa-star"></i></span>
                    <span>3 <i class="fa-solid fa-star"></i></span>
                    <span>4 <i class="fa-solid fa-star"></i></span>
                    <span>5 <i class="fa-solid fa-star"></i></span>      
                </div>
            </div>
        </section>
    </aside>
    <main>
        <span class="result-message"># search results for</span>
        <div class="search-data">
            <span>Consult information</span>
            <button>Sort by <i class="fa-solid fa-chevron-down"></i></button>
        </div>
        <div class="hotels-section">
           <app-hotelcard />
        </div>
    </main>
</div>
<app-footer/>

