<app-nav />
<div class="main-container">
    <div class="main-left">
        <section class="form">
            <div class="top-box">
                <i class="fa-solid fa-arrow-left"></i>
                <span class="hotel-title">Book Hotel Norrebro</span>
                <span class="step">Step 1:</span>
                <label for="">Property amenities</label>
                <div class="amenities-box">
                    <span><i class="fa-solid fa-wifi"></i> Free Wifi</span>
                    <span><i class="fa-solid fa-square-parking"></i> Free parking</span>
                    <span><i class="fa-solid fa-address-card"></i> Key card access</span>
                    <span><i class="fa-solid fa-wind"></i> Air conditioning</span>
                </div>
                <span>Breakfast included</span>
                <div class="form-box">
                    <label for="">Choose bed option</label>
                    <select name="" id="">
                        <option value="1">1 bed</option>
                        <option value="2">2 separate beds</option>
                    </select>
                </div>
            </div>
            <div class="middle-box">
                <span class="step">Step 2: Personal data</span>
                <div class="form-box">
                    <label for="">First and last name</label>
                    <input type="text" placeholder="e.g. Maria Lost">
                </div>
                <div class="form-box">
                    <label for="">Email address</label>
                    <input type="text" placeholder="email@email.com">
                </div>
                <div class="form-box">
                    <label for="">Phone number</label>
                    <input type="text" placeholder="+123 001 234 567">
                </div>
            </div>
            <div class="bottom-box">
                <span class="step">Step 3: Payments details</span>
                <div class="form-box">
                    <label for="">Name on card</label>
                    <input type="text" placeholder="e.g. Maria Lost">
                </div>
                <div class="form-box">
                    <label for="">Card number</label>
                    <input type="text" placeholder="**** **** **** ****">
                </div>
                <div class="form-box-double">
                    <div class="form-box">
                        <label for="">Valid until</label>
                        <input type="text" placeholder="MM/YY">
                    </div>
                    <div class="form-box">
                        <label for="">CVC</label>
                        <input type="password" placeholder="***">
                    </div>
                </div>
            </div>
        </section>
        <section class="rules">
            <span>House rules</span>
            <div class="time-section">
                <div class="time-box">
                    <span><i class="fa-solid fa-clock"></i> Check-in time</span>
                    <span>From 3 PM</span>
                </div>
                <div class="time-box">
                    <span><i class="fa-solid fa-circle-xmark"></i> Check-out time</span>
                    <span>Until 11 AM</span>
                </div>
            </div>
            <div class="warning-section">
                <span><i class="fa-solid fa-dog"></i> No pets allowed</span>
                <span><i class="fa-solid fa-ban-smoking"></i> No smoking</span>
                <span><i class="fa-solid fa-martini-glass"></i> No partying</span>
            </div>
        </section>
    </div>
    <div class="main-right">
        <div class="card-container">
            <img src="" alt="">
            <div class="info-box">
                <span class="card-description">3-star hotel located in the heart of Copenhagen</span>
                <span class="card-name">Hotel Norrebo ***</span>
            </div>
            <div class="date-box">
                <span>Check-in <span class="check-date">Friday, 09 December 2022</span></span>
                <span>Check-out <span class="check-date">Monday, 12 December 2022</span></span>
            </div>
            <span class="separator"></span>
            <span class="hotel-type">Standart double room</span>
            <div class="values-box">
                <span class="value">Price per night<span class="price">$180</span></span>
                <span class="value">3 nights<span class="price">$540</span></span>
                <span class="value">Service fee<span class="price">$20</span></span>
            </div>
            <span class="separator"></span>
            <span class="total"> <span class="price"><strong>$600</strong></span></span>
            </div>
        </div>
        <button>Book now</button>
    </div>
<app-footer />
